.Rproj.user
.Rhistory
.RData
.Ruserdata
data/processed/2023-08-23.parquet
data/processed/ala_all.csv
data/processed2023-08-23.parquet
data/raw/vegetationibranswv41/IBRA_NSW_v41/Documents/IBRA_v41.pdf
figs/galah-python.pdf
data/raw/fine_res_climate/wc2.1_30s_bio_1.tif
data/raw/fine_res_climate/wc2.1_30s_bio_12.tif
data/raw/fine_res_climate/wc2.1_30s_bio_17.tif
data/raw/fine_res_climate/wc2.1_30s_bio_5.tif
data/raw/lina_climate/AGCD/agcd_v1_precip_total_monthly_1971-2000.nc
data/raw/lina_climate/AGCD/agcd_v1_tmax_mean_monthly_1971-2000.nc
data/raw/lina_climate/AGCD/agcd_v1_tmin_mean_monthly_1971-2000.nc
data/raw/lina_climate/AGCD/Oz/agcd_v1_precip_total_monthly_1971-2000_Oz.nc
data/raw/lina_climate/AGCD/Oz/agcd_v1_tas_mean_monthly_1971-2000_Oz.nc
data/raw/lina_climate/AGCD/Oz/agcd_v1_tmax_mean_monthly_1971-2000_Oz.nc
data/raw/lina_climate/AGCD/Oz/agcd_v1_tmin_mean_monthly_1971-2000_Oz.nc
data/raw/lina_climate/AGCD/process.sh
data/raw/lina_climate/BC/bias_plot.py
data/raw/lina_climate/BC/correct.py
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/pr-fl/pr-fl_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tas/tas_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmax/tasmax_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_cccma-canesm2_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_cccma-canesm2_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_cccma-canesm2_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-0_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-0_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-0_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-3_historical_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-3_rcp45_r1i1p1_unsw-wrf360k_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360j_v1_mon.nc
data/raw/lina_climate/BC/tasmin/tasmin_narclimi_csiro-bom-access1-3_rcp85_r1i1p1_unsw-wrf360k_v1_mon.nc
scripts/ala/galah-r.pdf
data/processed/obs_for_climate_calc_2023-08-24.parquet
data
figs
